{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    {% block body %}

        <form action="" method="GET" class="input-group mb-3 col-md-2 offset-md-5 p-4">
            <input type="text" class="form-control" name='q' value='{{ request.GET.q }}'>

            <div class="input-group-append">
                <button type="submit" value="Search Food" class="input-group-text">Search</button>
            </div>
            {% comment %} <button type="submit" value="Search Food" class="input-group-text">Search</button> {% endcomment %}
        </form>

        {% for item in item_list %}
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <img class="card" height="150px" src="{{ item.item_image }}"/>
                </div>
                <div class="col-md-4">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_desc }}</h5>
                    <h6>${{ item.item_price }}</h6>
                    <h6>{{ item.user_name }}</h6>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        {% endfor %}

        {% comment %} pagination bottom section {% endcomment %}
        {% if is_paginated %}
            <div class="pagination card col-md-4 offset-md-4 p-3">
                <span class="page-links card-body text-center">
                    {% if page_obj.has_previous %}
                        <a href="/food?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/food?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    {% endblock %}




        {% comment %} THIS IS THE OLD CODE {% endcomment %}
        {% comment %} {% for item in item_list %}

        <ul>

            <li>
                {% comment %} <a href="/food/{{ item.id }}"> {{ item.id }} -- {{ item.item_name }} </a> {% endcomment %}
                {% comment %} SAME AS {% endcomment %}
                {% comment %} <a href="{% url 'food:detail' item.id %}"> {{ item.id }} -- {{ item.item_name }} </a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
        {% comment %} </ul> {% endcomment %}

        {% comment %} {% endfor %} {% endcomment %}
    {% comment %} {% endblock %} {% endcomment %} 

</body>
</html>